<!-- dojo.place('<div>I am new!</div>', oldDomElement, 'last') -->

<div id="map" class="map"></div>

<div id="settings"> 
  <div id="options">
    <button id="toggle-edit" dojoType="dijit.form.Button">Toggle Edit</button>
    <button id="save-region" dojoType="dijit.form.Button">Save region</button>
    <!-- <button id="clear-markers" dojoType="dijit.form.Button">Clear Markers</button> -->
  </div>
  <div class="clear"></div>
  
  <div id="tabContainer">
  	<div id="tc"></div>
  </div>

  <div id="gridContainer">
    <div class="nihilo" id="grid"></div>
  </div>
  

</div>
<div id="block"></div>

<script src="Leaflet/dist/leaflet.js"></script>
<script src="js/main.js"></script> 