<!-- dojo.place('<div>I am new!</div>', oldDomElement, 'last') -->

<div id="map" style="top:0; bottom:0; left:0; right:0; position:absolute;"></div>

<div id="settings"> 

  <div id="toggle-edit">T</div>
  <br />
  <div id="save-region">S</div>
  <div id="log"></div>

</div>
<div id="block"></div>

<script src="Leaflet/dist/leaflet.js"></script>
<script src="js/main.js"></script> 