<!doctype html>
<html>
    <head> 
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="width=device-width,minimum-scale=1,maximum-scale=1" name="viewport">
        <meta charset="utf-8">
        <title>node-finden</title>
        <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
        <link rel="stylesheet" href="/Leaflet/dist/leaflet.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="leaflet/leaflet.ie.css" /><![endif]-->
        <link rel="stylesheet" href="/css/main.css" />
        <script src="/socket.io/socket.io.js"></script>
    </head>
    
    <body>
    
        <%- body %>
        
    </body>
    
</html>