<!doctype html>
<html>
    <head> 
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="width=device-width,minimum-scale=1,maximum-scale=1" name="viewport">
        <meta charset="utf-8">
        <title>test</title>
        <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
        <script src="js/jquery.template.js"></script>
        <link rel="stylesheet" href="/Leaflet/dist/leaflet.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="leaflet/leaflet.ie.css" /><![endif]-->
        <style type="text/css">
        	
          html, body {
            margin: 0;
            padding: 0;
            height: 100%;
          }
          
          #map_canvas {
          
            width:300px;
            height:300px;
            position:absolute;
            bottom:20px;
            right:20px;
          
          }	
          
          #audio{
          
            position:absolute;
            left:10px;
            bottom:10px;
            width:300px;
            height:100px;
          
          }
          
        </style>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    
    <body>
    
        <%- body %>
        
    </body>
    
</html>