@import "dojo/dojo.css";
@import "dojo/Grid.css";
@import "dojo/nihiloGrid.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
}

.map{
  top:0; bottom:0; left:0; right:0; position:absolute;
}

.settingsOpen{
  right:800px;
}

#gridContainer{
  width:780px; margin:10px;
}

#settings{
  width:0; 
  position:absolute; 
  top:0; 
  right:0; 
  bottom:0;   
  background-color:#333; 
  z-index: 999; 
  overflow:auto;
  overflow: hidden;
}

#settings > #options > div{
  float: left; 
}

#options{
  margin: 10px;
  height: 38px;
  width: 780px;

}

.clear{
  clear:both;
}

#block{
  bottom:0;
  left:0;
  height:2em;
  width:2em;
  border: 1px solid black;
  position:absolute;
}

#toggle-edit{
  margin: 10px 0 0 10px;
  width:100px;
  height:25px;
  padding:5px;
  background-color: white;
}

#save-region{
  margin: 10px 0 0 10px;
  height:25px;
  width:100px;
  padding:5px;
  background-color: white; 
}
#clear-markers{
  margin: 10px 0 0 10px;
  height:25px;
  width:100px;
  padding:5px;
  background-color: white; 
}