@import "dojo/dojo.css";
@import "dojo/Grid.css";
@import "dojo/nihiloGrid.css";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  
  font-family:'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
}

#settings{
  width:0; 
  position:absolute; 
  top:0; 
  right:0; 
  bottom:0;   
  background-color:#333; 
  z-index: 999; 
  overflow:auto; 
}
#settings > div{

  float: left; 
  clear:both;
   
}

#block{
bottom:0;
left:0;
height:2em;
width:2em;
border: 1px solid black;
position:absolute;
}
#toggle-edit{
  margin-top: 10px;
  width:100px;
  height:10px;
  outline:1px solid white;
}
#save-region{
  margin-top: 10px;
  width:100px;
  height:10px;
  outline:1px solid white;
}